body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url(galaxy-night-panoramic.jpg);
    background-position: center;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    color: #fff;
  }
  
  h1 {
    margin-bottom: 3rem;
    text-align: center;
  }
  
  .booking-form {
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    padding: 2rem;
    border-radius: 0.4rem;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
    min-width: 260px;
  }
  
  .booking-input-container {
    margin-top: 2rem;
  }
  
  label {
    font-weight: 400;
    font-size: 1rem;
  }
  
  .input-content {
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 16px;
    width: 100%;
    color: #fff;
  }
  
  label {
    position: absolute;
    margin-top: -30px;
    pointer-events: none;
    transition: 0.3s;
    font-size: 16px;
  }
  
  #date{
    margin-top: 15px;
  }

  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    /* margin-top: -60px; */
    /* font-size: 12px; */
    opacity: 0;
  }
  
  .input-content:focus {
    outline: none !important;
  }
  
  .submit-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #7f8a9b;
    font-size: 12px;
  }
  
  .submit-btn{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
  button {
    margin: 8px;
    color: white;
    border: 1px rgba(0,0,0,0);
    background: linear-gradient(90deg,rgba(255,255,255,0.4),rgba(255,255,255,0));
    border-radius: 30px;
    backdrop-filter: blur(10px);
    padding: 10px;
    font-size: 20px;
  }
  
  .submit-btn:active {
    transform: scale(0.95);
  }
  
  .submit-btn p {
    color: white;
    text-align: center;
  }

  .submit-btn:hover{
    opacity: 0.8;
  }